{% extends "_layouts/cp" %}
{% set title = "Welcome to Craft Currency!" %}

{% set content %}
    <div class="center" style="margin:0 auto;text-align:center;">
        <p>We appreciate your support and hope you enjoy Craft Currency.<br>If there's anything we can do to help, please don't hesitate to contact us.</p>
        <a href="{{ url('currency/') }}"><button class="btn submit">Get started with Currency</button></a>
        <p><a href="" class="js-contact">Contact Us</a></p>
    </div>
    <style>
    #page-header h1 {text-align: center !important;display: block !important;margin: 0;}
    </style>
{% endset %}